.board-edit {
    flex: 1;
    width: 100%;
    overflow: hidden;
    .add-list-btn {
        background-color: #ebecf0;
        min-width: 250px;
        text-align: center;
        height: 30px;
        margin: 0 10px 0 0;
        border-radius: 4px;
        .fa-plus {
            margin-right: 3px;
            margin-bottom: 1px;
        }
        span {
            font-size: 16px;
            font-weight: bold;
        }
    }
    .lists {
        display: flex;
        flex: 1;
        min-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 10px;
        &>* {
            height: 100%;
        }
        .smooth-dnd-container.horizontal {
            // flex: 1;
            height: 100%;
            display: flex;
            min-width: auto;
            .smooth-dnd-draggable-wrapper {
                // flex: 1;
                display: flex;
                vertical-align: none;
            }
        }
        .list {
            margin-right: 10px;
            background-color: #ebecf0;
            width: 272px;
            border-radius: 4px;
            padding: 0 4px 0 8px;
            height: fit-content;
            max-height: 100%;
            overflow-y: auto;
            // &:not(:last-child) {
            // }
            .draggable-tasks-container {
                flex: 1;
                overflow: auto;
                // padding-right: 4px;
            }
            .draggable-tasks {
                padding-right: 4px;
                // background-color: red;
            }
            &>section {
                // height: 100%;
                // display: flex;
                // flex-direction: column;
                &>ul {
                    // flex: 1;
                    // overflow-y: hidden;
                    // &>div {
                    //     height: 100%;
                    //     overflow-y: auto;
                    // }
                }
            }
            .add-item-input {
                padding-bottom: 5px;
            }
            .list-edit-btn {
                padding: 0 4px 0 0;
                opacity: 0.4;
            }
            // .list-edit-menu-container{
            //   position: absolute;
            //   top: 0;
            //   height: 100vh;
            //   width: 100vw;
            //   background-color: rgba(0, 0, 0, 0.411);
            //   // background-color: transparent;
            //   z-index: 2;
            // }
            .list-edit-menu {
                position: absolute;
                top: 22px;
                transform: translateX(57px);
                width: 150px;
                border-radius: 5px;
                background-color: #fff;
                z-index: 3;
                display: flex;
                flex-direction: column;
                h3 {
                    text-align: center;
                    width: 100%;
                    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
                    color: #5e6c84;
                    font-size: 1rem;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    margin-bottom: 0;
                }
                button {
                    text-align: start;
                    background-color: transparent;
                    padding: 6px 12px;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    color: #172b4d;
                }
            }
            .add-task-btn {
                background-color: transparent;
                font-size: rem(16px);
                padding: 10px 0;
                height: 40px;
            }
            input {
                background-color: transparent;
                border: none;
                border-radius: 0px;
                border-bottom: gray solid 0.5px;
                font-size: 1rem;
            }
            .list-header-container {
                height: 46px;
                position: relative;
                padding: 13px;
                .list-header {
                    font-size: 1rem;
                    margin: 0;
                    min-width: 200px;
                    &:hover, &:focus{
                        border-bottom: 1px solid rgba(0, 0, 0, 0.336);
                        outline: none;
                    }
                }
            }
            .task-preview {
                width: 100%;
                border-radius: 5px;
                background-color: #fafafa;
                box-shadow: 0px 1px 1px #888888;
                padding: 8px;
                margin-bottom: 10px;
                cursor: pointer;
                .task-preview-header {
                    h4 {
                        margin-bottom: 10px;
                        font-weight: normal;
                    }
                }
                .preview-img {
                    width: 100%;
                    margin-top: 5px;
                }
            }
            .preview-img {
                width: 100%;
                margin-top: 5px;
            }
        }
    }
}