.board-edit {
    flex: 1;
    &>.vuescroll {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-height: calc(100vh - 90px);
        .__rail-is-vertical,
        .__rail-is-horizontal {
            border-radius: 0 !important;
        }
        .__rail-is-vertical {
            margin-inline-end: -2px;
        }
    }
    .lists-container {
        .add-list-btn {
            background-color: #ebecf0;
            min-width: 250px;
            text-align: center;
            height: 30px;
            margin: 10px;
            .fa-plus {
                margin-right: 3px;
                margin-bottom: 1px;
            }
            span {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .lists {
        display: flex;
        .list {
            background-color: #ebecf0;
            width: 250px;
            margin: 10px 5px;
            border-radius: 4px;
            padding-left: 12px;
            height: fit-content;
            .delete-list-btn {
                opacity: 0.4;
            }
            .add-task-btn {
                background-color: transparent;
                font-size: rem(16px);
                padding: 10px 0;
            }
            input {
                background-color: transparent;
                border: none;
                border-radius: 0px;
                border-bottom: gray solid 0.5px;
            }
            .list-header-container {
                width: 94%;
                margin-bottom: 5px;
                margin-top: 5px;
                .list-header {
                    padding: 5px;
                    font-size: 1rem;
                    margin: 0;
                }
            }
            .task {
                width: 94%;
                border-radius: 5px;
                background-color: #f7f7f7;
                box-shadow: 0px 1px 1px #888888;
                padding: 8px;
                margin-bottom: 10px;
                cursor: pointer;
                .task-preview-header {
                    h4 {
                        margin-bottom: 10px;
                        font-weight: normal;
                    }
                    button {
                        background-color: transparent;
                        opacity: 0;
                    }
                }
                    &:hover {
                        button {
                            opacity: 0.7;
                        }
                    }
                    .preview-img {
                        width: 100%;
                        margin-top: 5px;
                    }
                
            }
        }
    }
}