.board-list {
    flex: 1;
    width: 100%;
    padding: 77px 30px 15px;
    overflow-x: hidden;
    // background-image: url('../../src/styles/assets/board-background-imgs/home1.jpg');
    // background: #e1e1e1;
    background: #e5b000;
    hr {
        margin: 18px;
    }
    .button {
        padding: 0;
        float: right;
    }
    .grid-container {
        width: 100%;
        .grid {
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: 300px 300px 300px;
            column-gap: 12px;
            row-gap: 12px;
            h2 {
                font-size: rem(28px);
                color: #000000c9;
                grid-column-start: 1;
                grid-column-end: -1;
                margin-bottom: 5px;
            }
            .board-preview {
                height: 150px;
                border-radius: 6px;
            }
            .card-header-container {
                background-color: #00000059;
                width: 100%;
                padding: 14px;
                text-align: center;
                backdrop-filter: blur(5px);
                transition: background-color 0.3s;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                cursor: pointer;
                .card-header {
                    color: white;
                    font-weight: bold;
                    font-size: 1.125rem;
                    letter-spacing: 1px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
                }
            }
            .add-board-card {
                cursor: pointer;
                color: #ffffffbf;
                background-color: #494949de;
                font-size: rem(33px);
                font-weight: 500;
                text-align: center;
                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
                .add-board-card-header {
                    h2 {
                        margin: 0;
                        margin-left: 4px;
                    }
                }
                &:hover {
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.63);
                }
            }
        }
    }
    .footer-board-list {
        position: fixed;
        bottom: 0;
        height: 80px;
        width: calc(100vw - 13px);
        border-top: 1px solid #e5b000;
        background-color: #e1e1e1;
    }
    // .el-row {
    //     .clearfix:before,
    //     .clearfix:after {
    //         display: table;
    //         content: "";
    //     }
    //     .clearfix:after {
    //         clear: both;
    //     }
    //     .el-card {
    //         display: block;
    //         text-decoration: none;
    //         width: 300px;
    //         height: 160px;
    //         margin: 5px;
    //         border-radius: 5px;
    //         .card-header-container {
    //             background-color: #00000059;
    //             width: 100%;
    //             padding: 14px;
    //             text-align: center;
    //             backdrop-filter: blur(5px);
    //             transition: background-color 0.3s;
    //             .card-header {
    //                 color: white;
    //                 font-weight: bold;
    //                 font-size: 1.125rem;
    //                 letter-spacing: 1px;
    //                 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    //             }
    //         }
    //         &:hover {
    //             cursor: pointer;
    //             .card-header-container {
    //                 box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    //                 background-color: #00000078;
    //             }
    //         }
    //         .el-card__body {
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //         }
    //         .bottom {
    //             margin-top: 13px;
    //             line-height: 12px;
    //         }
    //     }
    // }
    @include for-normal-layout {
        .grid-container {
            .grid {
                grid-template-columns: 300px 300px
            }
        }
    }
    @include for-narrow-layout {
        h2 {
            text-align: center;
        }
        .grid-container {
            .grid {
                grid-template-columns: 300px
            }
        }
    }
}