.board-list {
    flex: 1;
    padding: 15px 30px;
    hr {
        margin: 18px
    }
    h2 {
        margin-bottom: 15px;
    }
    .el-card {
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.63);
        }
        .plus-icon {
            margin: 0 auto;
            height: 20px;
        }
        .el-card__body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }
    .button {
        padding: 0;
        float: right;
    }
    .image {
        width: 100%;
        display: block;
    }
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both;
    }
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
    }
    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }
    .el-carousel__item:nth-child(2n + 1) {
        background-color: #d3dce6;
    }
}