* {
    box-sizing: border-box;
}

html {
    color: rgb(37, 37, 37);
    font-family: quicksand, sans-serif;
}

body {
    margin: 0;
}

a,
a:visited,
a:active {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0px;
}

li {
    list-style: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 10px 0;
}

img {}

.btn,
button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-family: quicksand, sans-serif;
    text-align: center;
    color: rgb(37, 37, 37);
}

.dark-btn {
    background-color: rgb(65, 65, 65);
    color: whitesmoke;
}

.light-btn {
    background-color: whitesmoke;
    color: rgb(65, 65, 65);
}

select {
    // background-color: rgb(230, 230, 230);
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}

input {
    font-family: quicksand, sans-serif;
    border-radius: 5px;
    outline: 0;
    // border: none;
    padding: 2px;
    margin: 5px;
    color: rgb(37, 37, 37);
}

textarea {
    font-family: quicksand, sans-serif;
    outline: none;
}

.app-container {
    height: 100vh;
    width: 100vw;
}

.logo {
    color: rgb(230, 230, 230);
    // font-family: orbitron;
    // font-family: audi;
    // font-family: aclonica;
    font-family: megrim;
    // font-family: surfer;
    span {
        font-size: 1.1em; // color: rgb(136, 199, 183)
    }
}