.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: flex-end;
}

.img-circle {
    @include aspect-ratio(100, 100);
    border-radius: 50%;
}

.avatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.line-through {
    text-decoration: line-through;
}

.disable-page-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.04);
    width: 100vw;
    height: 100vh;
    cursor: auto;
    display: block;
}

.hide {
    display: none;
}

.circle-30 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.tilt {
    // transform: rotate(20deg);
    // transition: .25s;
    // background-color: crimson;
}