// @font-face {
//     font-family: aclonica;
//     src: url(~@/styles/assets/fonts/Aclonica-Regular.ttf);
// }
@font-face {
    font-family: orbitron;
    // font-family: obriton;
    src: url(~@/styles/assets/fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: audi;
    src: url(~@/styles/assets/fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: megrim;
    src: url(~@/styles/assets/fonts/Megrim-Regular.ttf);
}

@font-face {
    font-family: sarpanch;
    src: url(~@/styles/assets/fonts/sarpanch/Sarpanch-Regular.ttf);
}

@font-face {
    font-family: cuteFont;
    src: url(~@/styles/assets/fonts/CuteFont-Regular.ttf);
}

@font-face {
    font-family: novaFlat;
    src: url(~@/styles/assets/fonts/NovaFlat-Regular.ttf);
}

@font-face {
    font-family: textMeOne;
    src: url(~@/styles/assets/fonts/TextMeOne-Regular.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(~@/styles/assets/fonts/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: carter;
    src: url(~@/styles/assets/fonts/CuteFont-Regular.ttf);
}

// @font-face {
//     font-family: surfer;
//     src: url(~@/styles/assets/fonts/OriginalSurfer-Regular.ttf);
// }