@font-face {
    font-family: quicksand;
    src: url(~@/styles/assets/fonts/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: megrim;
    src: url(~@/styles/assets/fonts/Megrim-Regular.ttf);
}

