// COLOR PALETTE
$list-bgc: #ebecf0;
$task-details-bgc: #f4f5f7;
$task-box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
$clr1: #423657;
$clr2: #04829C;
$clr3: #00C2FB;
$clr4: #334A52;
// LAYOUT BREAKPOINTS
$break-mobile: 550px;
$break-narrow: 670px;
$break-normal: 960px;