    .app-header {
        position: relative;
        width: 100%;
        z-index: 1;
        height: 50px;
        // padding: rem(20px) rem(20px);
        padding: 10px 23px;
        background-color: rgba(0, 0, 0, 0.404);
        // filter: drop-shadow(0px 0px 0px black);
        // box-shadow: 0 0 20px rgb(114, 114, 114);
        // box-shadow: 0 0 10px #ececec;
        ;
        // box-shadow: 0px 0px 20px 0px #3d3d3d;
        // background-color: $clrNav;
        // color: $clr1;
        color: #efefefc4;
        // color: rgb(211, 211, 211);
        .nav-avatar {
            margin: 0;
        }
        .user-menu {
            position: absolute;
            background-color: white;
            border-radius: 5px;
            top: 29px;
            right: 37px;
            width: fit-content;
            height: fit-content;
            z-index: 3;
            padding: 5px 5px 10px 5px;
            text-align: center;
            button {
                background-color: transparent;
                color: black;
                display: block;
                margin-top: 3px;
                font-size: 1rem;
            }
            h3 {
                color: black;
                font-weight: normal;
                border-bottom: 1px solid black;
                margin: 0;
            }
        }
        .app-header-left {
            a:first-child {
                margin-right: 17px;
            }
        }
        a {
            height: fit-content;
            cursor: pointer;
            font-size: rem(18px);
            font-weight: bold;
            .icon:not(.logo) {
                &:hover {
                    color: #ffffffe8;
                    // text-shadow: 1px 1px 6px #444444;
                }
            }
            &:not(.logo) {
                &:hover {
                    color: #ffffffe8;
                    // text-shadow: 1px 1px 6px #444444;
                }
                // &.router-link-active:not(.logo) {
                //     color: #f7f7f7db;
                //     &:hover {
                //     }
                // }
            }
            .home-icon {
                font-size: rem(20px);
                margin-top: 1px;
            }
            .board-icon {
                margin-top: 2px;
            }
        }
        &>* {
            height: 100%;
        }
        .links {
            a:not(:last-child) {
                margin-right: rem(15px);
            }
        }
        .logo {
            font-size: rem(25px);
        }
        .widht-200 {
            width: 250px;
        }
    }