.board-background {
    height: 100%;
    .bgc-img-preview {
        border-radius: 5px;
        width: 137px;
        height: 90px;
        margin: 3px;
        cursor: pointer;
        object-fit: cover;
    }
    .photos {
        flex: 1;
        overflow-y: auto;
    }
}