.board-nav {
    // font-size: rem(13px);
    position: relative;
    // padding: 10px 23px;
    // height: $board-nav-height;
    padding: 10px;
    height: 50px;
    width: 100%;
    // background-color: rgba(255, 255, 255, 0.548);
    // color: #292929d9;
    color: #292929;
    .board-nav-btn {
        height: 35px;
        border-radius: 3px;
        padding: 9px;
        background-color: rgba(255, 255, 255, 0.65);
        &:not(:last-child) {
            margin-right: 7px;
        }
        svg {
            font-size: 10px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.76);
        }
    }
    .lists-filter {
        position: absolute;
        top: 47px;
        left: 266px;
        background-color: #f7f7f7;
        padding: 5px;
        border-radius: 5px;
        z-index: 1;
        input {
            border-bottom: gray solid 0.5px;
        }
    }
    .userToShow {
        padding: 2px;
        cursor: pointer;
        &.user-card-container {
            margin-right: -12px;
        }
        p {
            margin: 0 7px 2px;
        }
    }
    h2 {
        margin-bottom: 0;
    }
    .open-menu-btn {
        z-index: 2;
        // font-size: rem(23px);
        cursor: pointer;
        border: none;
        padding: 0;
        &.times svg {
            font-size: 15px;
        }
    }
    .board-name {
        font-family: sans-serif;
        outline: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // color: #fffffff7;
        color: #fffffffa;
        margin-right: 5px;
        margin-bottom: 4px;
        text-shadow: 1px 1px 1px #0000008f;
        // margin-bottom: 5px
        &:focus {
            border-radius: 0;
            border-bottom: gray 1px solid;
        }
    }
    .board-setting-container {
        position: relative;
    }
    button {
        background-color: transparent;
        // font-size: 1.3rem;
        margin: 2.5px;
        // color: #292929d9;
        color: #292929;
    }
    input {
        background-color: transparent;
        border: none;
        border-radius: 0px;
        padding: 6px;
        &:focus {
            background-color: rgba(255, 255, 255, 0.76);
        }
        // border-bottom: gray solid 0.5px;
    }
    .board-background {
        width: 145px;
        align-self: center;
    }
    .widht-200 {
        width: 250px;
    }
}