.activity {
    display: flex;
    padding-left: 0;
    padding-bottom: 12px;
    .activity-details {
        padding-left: 3px;
        .activity-desc {
            margin: 0;
            font-size: rem(14px);
            span {
                font-weight: bold;
            }
        }
        .activity-date {
            margin: 0;
            font-size: rem(12px);
        }
    }
}

.board-menu {
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s;
    opacity: 0.6;
    z-index: 1;
    position: fixed;
    right: 0;
    padding: 7px;
    width: 350px;
    height: calc(100vh - 50px);
    background-color: $task-details-bgc;
    .menu-header {
        font-size: rem(18px);
        height: 30px;
        margin-top: 37px;
        .btn-back-to-menu {
            background-color: transparent;
            position: absolute;
            left: 10px;
            top: 10px;
            font-size: rem(12px);
        }
    }
    hr {
        width: 100%;
    }
    .menu-btn {
        cursor: pointer;
    }
    .menu-ops {
        height: fit-content;
    }
    .menu-activity {
        flex: 1;
        overflow-y: auto;
    }
    .main-menu,
    .board-about {
        padding: 0 15px 15px 15px;
        display: flex;
        flex-direction: column;
        height: 100%;
        .board-about-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
        }
        .date-input {
            width: 200px;
        }
        input {
            background-color: transparent;
            border-radius: 0;
            border: none;
            border-bottom: 0.5px solid rgb(163, 163, 163);
            padding: 2px 0px 5px;
            color: #292929d9;
        }
        p {
            margin-right: 7px;
        }
        li {
            font-size: rem(18px);
            padding: 10px 0;
            .board-desc-content {
                margin-top: 10px;
                border-radius: 5px;
                background-color: #dddddd;
                font-size: rem(13px);
                border: none;
                resize: none;
                &:focus {
                    background-color: #fdfdfd;
                }
            }
            &.menu-delete-board {
                cursor: pointer;
                width: fit-content;
                padding: 6px;
                border-radius: 3px;
                font-size: 15px;
                &:hover {
                    // background-color: #e2e2e2;
                    background-color: #9e1a1a;
                    color: rgb(226, 226, 226);
                }
            }
        }
    }
}

.show-menu {
    transform: translateX(0);
    opacity: 1;
}