.board-member {
    margin-right: 6px;
    position: relative;
    &>* {
        margin-right: -10px;
    }
    .invite {
        position: absolute;
        top: 40px;
        right: 10px;
        background-color: #f7f7f7;
        padding: 5px;
        border-radius: 5px;
        z-index: 1;
        height: fit-content;
        .member-list>div:first-of-type {
            max-height: 280px;
        }
    }
    .btn-add-board-user {
        padding-bottom: 10px;
        padding-top: 4px;
        height: 28px;
        width: 28px;
        background-color: rgba(255, 255, 255, 0.65);
        font-size: rem(26px);
        color: #292929d9;
        border-radius: 50%;
        font-weight: bold;
        margin-right: 1px;
        p {
            margin-bottom: 0;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.76);
        }
        .user-icon {
            display: none;
        }
    }
    @include for-normal-layout {
        .btn-add-board-user {
            height: 35px;
            width: 35px;
            border-radius: 3px;
            padding: 9px;
            .plus-icon {
                display: none;
            }
            .user-icon {
                display: block;
                font-size: 17px
            }
        }
    }
    @include for-narrow-layout {
        margin-right: 0;
        .btn-add-board-user {
            margin-left: 2.5px;
            margin-right: 2.5px;
            height: 30px;
            font-size: 14px; 
        }
    }
}