.dashboard {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 50%;
    transform: translate(50%);
    width: 80%;
    max-width: 900px;
    height: 85vh;
    z-index: 2;
    background-color: #efefeff5;
    border-radius: 13px;
    .exit-btn {
        background: transparent;
        position: absolute;
        right: 1px;
        cursor: pointer;
        top: 2px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        color: #8a8a8a;
        &:hover {
            background-color: #dddddd;
        }
    }
    .dashboard-data {
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 38px;
        // padding-bottom: 25px;
        padding: 0 10px 25px 10px;
        .data-card {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            padding: 5px;
            background-color: #909090c7;
            color: #f3f3f3;
            margin: 5px;
            .data-card-icon {
                font-size: 45px;
                margin-left: 15px;
            }
            .data-card-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                margin-left: 9px;
                h3 {
                    margin-bottom: 3px;
                }
            }
        }
    }
    .charts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        height: 70%;
        overflow-y: auto;
        padding-top: 20px;
        .chart {
            width: 300px;
        }
        .charts-top {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .chart-line {
            margin-top: 30px;
            padding-bottom: 20px;
        }
    }
    @include for-narrow-layout {
        width: 99%;
    }
}