.task-preview-label {
    width: 30px;
    height: 5px;
    border-radius: 20px;
    margin-right: 3px;
}

// .task-editor-container {
// position: absolute;
// top: 0;
// right: 0;
// z-index: 2;
// background-color: rgba(0, 0, 0, 0.151);
// width: 100vw;
// height: 100vh;
// .disable-page-container {
//     // z-index: 4;
// }
.task-editor {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 700px;
    height: 700px;
    max-height: 80%;
    background-color: $task-details-bgc;
    border-radius: 4px;
    padding: 15px 15px 20px 15px;
    z-index: 3;
    color: #000000c4;
    overflow: hidden;
    h2 {
        margin-bottom: 15px;
    }
    h3 {
        font-size: rem(15px);
        font-weight: normal;
    }
    .close-details-btn {
        background: transparent;
        position: absolute;
        cursor: pointer;
        position: absolute;
        /* right: 17px; */
        right: 8px;
        cursor: pointer;
        top: 8px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        &:hover {
            background-color: #dddddd;
        }
    }
    .task-header {
        max-width: 80%;
        height: fit-content;
        overflow-wrap: break-word;
        // font-size: rem(32px);
    }
    .task-editor-main {
        width: 100%;
        overflow-y: hidden;
        flex: 1;
        .task-details {
            height: 100%;
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            &>div {
                width: 100%;
                &:not(:last-child) {
                    height: fit-content;
                }
            }
            margin-block-end: 13px;
            .data-layout {
                margin-bottom: 10px;
            }
            .description-textarea {
                border-radius: 5px;
                background-color: #dddddd;
                font-size: rem(13px);
                border: none;
                resize: none;
                &:hover,
                &:focus {
                    background-color: #fdfdfd;
                }
            }
            .img-attachments {
                width: 100px;
                height: 100px;
                margin: 5px;
            }
            .vue-avatar--wrapper {
                margin: 0;
            }
            .task-details-comments {
                .comment-input {
                    width: 85%;
                    height: 32px;
                    margin-left: 0;
                }
                .comment {
                    font-size: 0.8rem;
                    margin-bottom: 10px;
                    max-width: 500px;
                    .comment-creator {
                        color: #181818;
                        padding-left: 5px;
                        margin-bottom: 0;
                    }
                    .comment-txt {
                        padding-left: 5px;
                        margin-bottom: 0;
                        width: 100%;
                        overflow-wrap: break-word;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
            .activity-task-container {
                flex: 1;
                // overflow: hidden;
                h3 {
                    height: fit-content;
                }
                .activity-task {
                    flex: 1;
                    li {
                        max-width: 100%;
                    }
                    // overflow-y: auto;
                    // overflow-x: hidden;
                }
            }
        }
        .side-bar-container {
            padding-left: 15px;
            width: 140px;
        }
        .side-bar-p {
            margin: 0;
            padding: 2px;
            font-size: rem(14px);
            text-align: center;
            &:not(:first-child) {
                margin-top: 15px
            }
        }
        .side-bar-btn {
            margin-bottom: 5px;
            // border: 1px solid rgb(136, 136, 136);
            color: #5c5c5c; // font-weight: bold;
            background-color: #dddddd;
            font-size: rem(14px);
            border-radius: 3px
        }
        .add-attachments-input {
            position: absolute;
            right: 5px;
            top: 143px;
            width: 0;
            opacity: 0;
            cursor: pointer;
        }
        // }
        .delete-task-btn {
            color: white;
            background-color: #940000;
        }
    }
}