.task-editor-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.151);
  width: 100vw;
  height: 100vh;

  .task-editor {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 600px;
    height: 80%;
    background-color: #f4f5f7;
    border-radius: 10px;
    padding: 15px;
    z-index: 3;

    .task-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background: transparent;
      }

      h2 {
        max-width: 100%;
        overflow-wrap: break-word;
      }
    }

    .task-editor-main {
      height: 90%;
      display: flex;

      .task-details {
        width: 75%;
        overflow-y: auto;

        .description-textarea{
          background-color: transparent;
          font-size: rem(16px)
        }

        .img-attachments {
          width: 100px;
          height: 100px;
          margin: 5px;
        }
      }

      .side-bar {
        display: flex;
        flex-direction: column;
        width: 25%;
        padding-left: 5px;
        font-size: rem(15px);
        .side-bar-btn {
          width: 100%;
          margin-bottom: 5px;
          background-color: rgb(146, 132, 132);
        }
        .add-attachments-input {
          position: absolute;
          right: 5px;
          top: 143px;
          width: 0;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }
}
