.board-member {
    position: relative;
    .invite {
        position: absolute;
        top: 40px;
        background-color: #f7f7f7;
        padding: 5px;
        // box-shadow: 0px 1px 1px 0px #8d8d8d;
        border-radius: 5px;
        z-index: 1;
    }
    .userToShow {
        padding: 2px;
        cursor: pointer;
        p {
            margin: 0 7px 2px;
        }
    }
    .btn-add-board-user {
        height: 30px;
        width: 30px;
        padding-bottom: 32px;
        color: #292929d9;
        // border-radius: 50%;
        // background-color: rgba(255, 255, 255, 0.63);
    }
    .user-card-container {
        position: relative;
        .user-card {
            p {
                margin: 0px;
            }
            position: absolute;
            border-radius: 3px;
            z-index: 1;
            background-color: #f7f7f7;
            padding: 5px;
            width: 100px;
            button {
                font-size: rem(17px);
                width: 25px;
            }
        }
    }
}