.board-menu {
    z-index: 1;
    position: fixed;
    right: 0;
    padding: 22px;
    // top: 70px;
    // padding-top: $board-nav-height;
    width: 250px;
    // height: -webkit-calc(100% - 70px);
    height: 100%;
    background-color: $task-details-bgc;
    .menu-btn {
        cursor: pointer;
    }
    li {
        font-size: rem(18px);
        padding: 10px;
        &.bold {
            font-size: rem(20px);
            font-weight: bold;
        }
    }
}

.board-menu .menu-header {
    font-size: rem(18px);
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    .btn-back-to-menu {
        position: absolute;
        left: 0;
    }
}

// .board-menu-child {
//     background-color: $task-details-bgc;
//     position: fixed;
//     top: 50px;
//     right: 0px;
//     height: 100%;
//     width: 250px;
//     padding: 22px;
// }
.img-circle {
    cursor: pointer;
    width: 30px;
    img {
        width: 30px;
    }
}