.board-menu {
    z-index: 1;
    position: fixed;
    right: 0;
    padding: 7px;
    // top: 70px;
    // padding-top: $board-nav-height;
    width: 350px;
    height: 100%;
    background-color: $task-details-bgc;
    .menu-btn {
        cursor: pointer;
    }
    .main-menu,
    .board-about {
        .activity{
            display: flex;
            padding-left: 0;
            .activity-details{
                padding-left: 3px;
                .activity-desc{
                    margin: 0;
                    font-size: rem(14px);
            
                    span{
                        font-weight: bold;
                    }
                }
            
                .activity-date{
                    margin: 0;
                    font-size: rem(12px);
                }
            }
        }
        padding: 0 15px 15px 15px;
        li {
            font-size: rem(18px);
            padding: 10px;
            &.bold {
                font-size: rem(20px);
                font-weight: bold;
            }
            .board-desc-content {
                font-size: rem(15px);
            }
        }
    }
}

.board-menu .menu-header {
    font-size: rem(18px);
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 37px;
    .btn-back-to-menu {
        background-color: transparent;
        position: absolute;
        left: 10px;
        top: 44px;
        font-size: 18px;
        // &::before {
        //     content: ''
        // }
    }
}

// .board-menu-child {
//     background-color: $task-details-bgc;
//     position: fixed;
//     top: 50px;
//     right: 0px;
//     height: 100%;
//     width: 250px;
//     padding: 22px;
// }
// .img-circle {
//     cursor: pointer;
//     width: 30px;
//     img {
//         width: 30px;
//     }
// }